<h1>Job Postings</h1>

<% if @job_postings.any? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Employer Name</th>
        <th>Industry</th>
        <th>Responsibilities</th>
        <th>Desired Qualifications</th>
        <th>Logistics</th>
        <th>Pay Range</th>
      </tr>
    </thead>
    <tbody>
      <% @job_postings.each do |job| %>
        <tr>
          <td><%= job.title %></td>
          <td><%= job.employer.name %></td>
          <td><%= job.industry %></td>
          <td><%= job.responsibilities %></td>
          <td><%= job.desired_qualifications %></td>
          <td><%= job.logistics %></td>
          <td><%= job.pay_range %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No job postings available.</p>
<% end %>

<%= link_to "Back to Profile", employer_profile_path(current_employer.id), class: "btn btn-primary" %>

