<div>
  <div>
    <h1>
      List of all job postings
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Responsibilities
        </th>

        <th>
          Desired qualifications
        </th>

        <th>
          Logistics
        </th>

        <th>
          Pay range
        </th>

        <th>
          Employer
        </th>

        <th>
          Industry
        </th>

        <th>
          Actions
        </th> 

<!--        <th>
          Bookmarked status
        </th>-->

<!--        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>-->

      </tr>

      <% @list_of_job_postings.each do |a_job_posting| %>
      <tr>
        <td>
          <%= a_job_posting.id %>
        </td>

        <td>
          <%= a_job_posting.title %>
        </td>

        <td>
          <%= a_job_posting.responsibilities %>
        </td>

        <td>
          <%= a_job_posting.desired_qualifications %>
        </td>

        <td>
          <%= a_job_posting.logistics %>
        </td>

        <td>
          <%= a_job_posting.pay_range %>
        </td>

        <td>
          <% matching_employers = Employer.where({ :id => a_job_posting.employer_id }) %>
          
          <% the_employer = matching_employers.at(0) %>

          <%= the_employer.name %>
        </td>

        <td>
          <% matching_employers = Employer.where({ :id => a_job_posting.employer_id }) %>
          
          <% the_employer = matching_employers.at(0) %>

          <%= the_employer.industry %>
        </td>

        <td>
          <% if current_applicant.bookmarked_jobs.exists?({ :job_posting_id => a_job_posting.id }) %>
            <%= button_to "Remove Bookmark", "/delete_bookmarked_job/#{a_job_posting.id}", method: :post, class: "btn btn-danger" %>
          <% else %>
            <%= button_to "Bookmark", "/insert_bookmarked_job", method: :post, params: { job_posting_id: a_job_posting.id }, class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%= link_to "Back to Profile", applicant_profile_path(current_applicant.id), class: "btn btn-primary" %>

<hr>
