<!DOCTYPE html>
<html>
  <head>
    <title>Silver Connect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <a href="/">Silver Connect</a>
      <% if current_applicant != nil %>
        <a href="/applicants/sign_out">Applicant Sign Out</a>
        <a href="/applicants/edit">Applicant Edit Profile</a>
      <% else %>
        <a href="/applicants/sign_up">Applicant Sign Up</a>
        <a href="/applicants/sign_in">Applicant Sign In</a>
      <% end %>

      <% if current_employer != nil %>
        <a href="/employers/sign_out">Employer Sign Out</a>
        <a href="/employers/edit">Employer Edit Profile</a>
      <% else %>
        <a href="/employers/sign_up">Employer Sign Up</a>
        <a href="/employers/sign_in">Employer Sign In</a>
      <% end %>
    </nav>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
